/* Body */
body{
    margin: 0;
    padding: 0;
    background: url('https://th.bing.com/th/id/R.f83301d5ad76149646e86b426f4f8cc7?rik=GZvCDA1znDLRWQ&pid=ImgRaw&r=0');
    background-size: cover;
    font-family: sans-serif;
}
/* Loginbox */
.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
/* Profile image */
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
/* h1 */
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox a:hover{
    color: #ffc107;
}

/* Bubbles */
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute; /* Change back to absolute */
    bottom: 0; /* Set it to 0 to position at the bottom */
    margin-bottom: 10px; /* Optional: add space from the bottom */
    pointer-events: none; /* Prevent interaction with the bubbles */
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

/* Bubble Animation */
@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

/* Bubbles img:nth-child */
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}

/* Media Queries (optional) */
@media (max-width: 768px) {
    .container {
        background-size: cover; /* Ensure it covers the area on smaller screens */
    }
}